[Desktop Entry]

Type=Application
Name=OpenUtau Lunai
Comment=Singing voice synthesizer
Exec=OpenUtau-Lunai
Icon=OpenUtau
Categories=AudioVideo;Audio;Midi
